[Desktop Entry]
Type=Application
Name=Simple Screenshot
Comment=Простой захват экрана с сохранением в один клик
Exec=/usr/bin/simple-screenshot
Icon=simple-screenshot
Terminal=false
Categories=Utility;Graphics;
StartupNotify=false
X-XFCE-Source=simple-screenshot
